---
- name: Set runzero-explorer download URL for Unix-like systems
  ansible.builtin.set_fact:
    runzero_explorer_url: "{{ runzero_explorer_url }}/{{ runzero_explorer_unique_token }}/{{ runzero_explorer_version_id }}/runzero-explorer-linux-{{ runzero_explorer_arch }}.bin"
  when: ansible_os_family in ['Debian', 'RedHat']
  no_log: true

- name: Set runzero-explorer download URL for Darwin systems
  ansible.builtin.set_fact:
    runzero_explorer_url: "{{ runzero_explorer_url }}/{{ runzero_explorer_unique_token }}/{{ runzero_explorer_version_id }}/runzero-explorer-darwin-{{ runzero_explorer_arch }}.bin"
  when: ansible_os_family == 'Darwin'
  no_log: true

- name: Set RUNZERO_AGENT_LOG_DEBUG environment variable
  become: true
  ansible.builtin.lineinfile:
    path: /etc/environment
    line: 'RUNZERO_AGENT_LOG_DEBUG={{ runzero_explorer_log_debug }}'
    create: true
    mode: '0644'

- name: Generate a unique RUNZERO_AGENT_HOST_ID
  ansible.builtin.set_fact:
    runzero_explorer_agent_host_id: "{{ lookup('ansible.builtin.password', length=32, format='hex') }}"
  when: runzero_explorer_agent_host_id is not defined

- name: Set RUNZERO_AGENT_HOST_ID environment variable
  become: true
  ansible.builtin.lineinfile:
    path: /etc/environment
    line: 'RUNZERO_AGENT_HOST_ID={{ runzero_explorer_agent_host_id }}'
    create: true
    mode: '0644'

- name: Install required packages for runZero Explorer
  ansible.builtin.include_role:
    name: cowdogmoo.workstation.package_management
  vars:
    package_management_common_install_packages: "{{ runzero_explorer_common_install_packages }}"
    package_management_debian_specific_packages: "{{ runzero_explorer_debian_packages }}"
    package_management_redhat_specific_packages: "{{ runzero_explorer_el_packages }}"

- name: Create runZero Explorer directory
  become: true
  ansible.builtin.file:
    path: "{{ runzero_explorer_path | dirname }}"
    state: directory
    mode: '0755'

- name: Check if runzero-explorer already exists
  ansible.builtin.stat:
    path: "{{ runzero_explorer_path }}"
  register: runzero_explorer_stat

- name: Download runzero-explorer
  become: true
  ansible.builtin.get_url:
    url: "{{ runzero_explorer_url }}"
    dest: "{{ runzero_explorer_path }}"
    mode: '0755'
  when:
    - runzero_explorer_unique_token is defined
    - not runzero_explorer_stat.stat.exists
  no_log: true

- name: Find runzero-agent files
  ansible.builtin.find:
    paths: "{{ runzero_explorer_path | dirname }}"
    patterns: "runzero-agent-*"
    get_checksum: true
  register: runzero_explorer_agent_files

- name: Get hash of existing runzero-explorer file
  ansible.builtin.stat:
    path: "{{ runzero_explorer_path }}"
    get_checksum: true
  register: runzero_explorer_checksum
  when: runzero_explorer_stat.stat.exists

- name: Rename the most recent runzero-agent file to the default destination
  become: true
  ansible.builtin.command:
    cmd: "mv {{ (runzero_explorer_agent_files.files | sort(attribute='mtime') | last).path }} {{ runzero_explorer_path }}"
  changed_when: true
  when:
    - runzero_explorer_agent_files.matched > 0
    - runzero_explorer_stat.stat.exists
    - "(runzero_explorer_agent_files.files | sort(attribute='mtime') | last).checksum != runzero_explorer_checksum.stat.checksum"

- name: Execute runzero-explorer
  become: true
  ansible.builtin.command:
    cmd: "{{ runzero_explorer_path }}"
  changed_when: true
  when: runzero_explorer_agent_files.matched == 0
